.lanyard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Let events pass through the wrapper */
}

.lanyard-wrapper canvas {
  pointer-events: auto; /* Let the canvas receive events */
}
